<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>AJAX Datatable Example</title>
  

  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.11.4/datatables.min.css"/>
  <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.11.4/datatables.min.js"></script>
 
</head>
<body>
    <header>
        <%- include('header')%>
    </header>
  <table id="datatable">
    <thead>
      <tr>
        <th>Sr No.</th>
        <th>User Name</th>
        <th>Email</th>
        <th>Mobile no</th>
      </tr>
    </thead>
  </table>


  <script type="text/javascript">
    $(document).ready(function() {
      $('#datatable').DataTable({
        "paging": true,
        "pageLength": 10,
        "processing": true,
        "serverSide": false,
        "ajax": {    
          "data":"json",
                "type": "POST",
                "url": "/user-datatable",
            },
        "columns": [
          { "data": "DT_RowIndex" },
          { "data": "username" },
          { "data": "email" },
          { "data": "mobile" }
        ]
      });
    });
  </script>
</body>
</html>
