<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>AJAX Datatable Example</title>
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.css">
  <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>
</head>
<body>
    <header>
        <%- include('header')%>
    </header>
  <table id="datatable">
    <thead>
      <tr>
        <th>Column 1</th>
        <th>Column 2</th>
        <th>Column 3</th>
      </tr>
    </thead>
  </table>

  <script type="text/javascript">
    $(document).ready(function() {
      $('#datatable').DataTable({
        ajax: '/user-datatable',
        columns: [
          { data: 'username' },
          { data: 'email' },
          { data: 'mobile' }
        ]
      });
    });
  </script>
</body>
</html>
